body {
    background-color: white;
    background-image: url('../images/blizzard.png');
    height: 100%;
    margin: 0;
    padding:0;
}

.blocklySvg {
    height: 100%;
    width: 100%;
}

.navbar-inner {
    padding: 5px;
}

.codebender-logo {
    width: 30px;
}

.logo-title {
    line-height: 30px;
}

.blockly-controls {
    margin-top: 5px;
}

#page-title {
  margin: 5px;
}

#page-title a {
    text-decoration: none;
}

#load {
    display: none;
}

#blockly-tabs li {
    height: 40px;
}

.container-fluid {
    display: inline-block;
    width: -webkit-calc(100% - 40px);
    width: -moz-calc(100% - 40px);
    width: calc(100% - 40px);
    height: -webkit-calc(100% - 125px);
    height: -moz-calc(100% - 125px);
    height: calc(100% - 125px);
}

.tab-content {
    height: -webkit-calc(100% - 195px);
    height: -moz-calc(100% - 195px);
    height: calc(100% - 195px);
    overflow-y: hidden;
}

.blockly-label {
    display: inline-block;
    position: relative;
    top: 10px;
    padding: 0 5px;
    font-weight: bold;
}

.cb-cf-label {
    font-size: 12px;
    font-weight: bold;
}

.cb-cf-control {
    width: 80%;
}

.operation-output {
    display: inline-block;
    width: -webkit-calc(100% - 435px);
    width: -moz-calc(100% - 435px);
    width: calc(100% - 435px);
}

#cb_cf_operation_output {
    display: inline-block;
    width: 100%;
    height: 32px;
    margin: 5px 0 0;
    padding: 0 5px;
    line-height: 32px;
    overflow-y: auto;
    background-color: #f1f1f1;
}

#sketch_buttons {
  margin: 5px;
}

#tab_blocks {
    overflow: hidden;
}

#content_xml,
#content_arduino {
    width: 100%;
    height: 100%;
    padding: 0;
    margin: 0;
    border: 1px solid #ccc;
    border-top-style: none;
    overflow: hidden;
    display: none;
}

#textarea_xml,
#textarea_arduino {
    width: 100%;
    height: 100%;
    border: none;
    resize: none;
    overflow-y: auto;
}

#content_blocks {
    width: 99%;
    height: 99%;
    border: 1px solid #ccc;
    border-top-style: none;
}

.serial-monitor-container {
    position: relative;
    height: 100%;
}

#serial_monitor_content {
    padding: 0 10px;
}

#serial_hud {
    margin-bottom: 0;
    position: absolute;
    top: 51px;
    right: 10px;
    bottom: 0;
    left: 10px;
}

#text2send {
    height: 30px;
}

#blockly-blink {
    display: none;
}
