<!doctype html>
<html>
<body>
<h1>Sent this request:</h1>
<textarea rows="10" cols="100">{{ request }}</textarea>

<h1>Got this response:</h1>
<textarea rows="10" cols="100">{{ response }}</textarea>
</body>
</html>
